.principalePict {
    background: no-repeat center/100% url("../img/pexels-photo-379419.jpeg");
    color: orangered;
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictLegis {
    background: no-repeat center/100% url("../img/legislation.jpeg");
    color: orangered;
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictAdvicemaintenance {
    background: no-repeat center/100% url("../img/conseilsentretient.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictContact {
    background: no-repeat center/100% url("../img/contactus.jpg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictLegalnotice {
    background: no-repeat center/100% url("../img/mentionslegales.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    color: orangered;
}

.principalePictCgu {
    background: no-repeat center/100% url("../img/cgu.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictRide {
    background: no-repeat center/100% url("../img/balades.jpg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictRegistration {
    background: no-repeat center/100% url("../img/inscription.jpg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;

}

.principalePictModifUser {
    background: no-repeat center/100% url("../img/modifuser.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    color: orangered;
}

.principalePictCreateRide {
    background: no-repeat center/100% url("../img/create_ride.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    color: orangered;
}

.principalePictRedirection {
    background: no-repeat center/100% url("../img/test.png");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    color: orangered;
}

.principalePictModifride {
    background: no-repeat center/100% url("../img/modifride.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    color: orangered;
}

.logo {
    height: 4rem;
}

.selectColor {
    background-color: black;
    color: orangered;
}

.colorOrange {
    color: orangered;
}

.nav {
    position: absolute;
    top: 500px;

}

.navColor {
    background-color: black;
}

.containeriframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.shadowcss {
    box-shadow: 1px 1px 5px rgb(179, 179, 179);

}

.abutton {
    display: block;
    color: white;
    background-color: orangered;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-right: 1rem;
}

.bbutton {
    display: block;
    color: rgb(231, 74, 17);
    background-color: white;
    border-radius: 2rem;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
    margin-right: 0.5rem;
}


.cartoonbutton {
    background-color: rgb(238, 89, 34);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cartoonbutton:focus {
    outline: 0;
}

.cartoonbutton:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.cartoonbutton:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .cartoonbutton {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}


.buttonorange {
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, #d35f13 0%, #e28025 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.buttonorange:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}


.buttondark {
    background: linear-gradient(to bottom right, #000000, #616161);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.buttondark:not([disabled]):focus {
    box-shadow: 0 0 .10rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(68, 64, 64, 0.5), .125rem .125rem 1rem rgba(56, 54, 53, 0.5);
}

.buttondark:not([disabled]):hover {
    box-shadow: 0 0 .10rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(48, 46, 46, 0.5), .125rem .125rem 1rem rgba(95, 92, 90, 0.5);
}


.buttonblue {
    background: linear-gradient(to bottom right, #2767f3, #363636);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.buttonblue:not([disabled]):focus {
    box-shadow: 0 0 .10rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(68, 64, 64, 0.5), .125rem .125rem 1rem rgba(56, 54, 53, 0.5);
}

.buttonblue:not([disabled]):hover {
    box-shadow: 0 0 .10rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(48, 46, 46, 0.5), .125rem .125rem 1rem rgba(95, 92, 90, 0.5);
}


.buttongreen {
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, green 0%, green 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.buttongreen:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.buttondelete {
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, rgb(238, 14, 14) 0%, rgb(238, 14, 14) 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.buttondelete:focus {
    /* box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5); */
    outline: 0;
}

.buttonreturn {
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, rgb(10, 10, 10) 0%, rgb(0, 0, 0) 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.buttonreturn:focus {
    /* box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5); */
    outline: 0;
}

.buttonred {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, red 0%, red 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.buttonred:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

/* -------------------------------FORMULAIRE CSS-------------------------------------------------------- */

.form-style-9 {
    max-width: 450px;
    background: #f10404;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #f2f5f7;
}

.form-style-9 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-style-9 ul li {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.form-style-9 ul li .field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.form-style-9 ul li .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
    width: 49%;
}

.form-style-9 ul li .field-full {
    width: 100%;
}

.form-style-9 ul li input.align-left {
    float: left;
}

.form-style-9 ul li input.align-right {
    float: right;
}

.form-style-9 ul li textarea {
    width: 100%;
    height: 100px;
}


.register {
    background: -webkit-linear-gradient(left, #000000, #270800, #f35b03);
    margin-top: 3%;
    padding: 3%;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #b4b6b8;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-right {
    background: #ffffff;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}


.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #000000;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #f3f3f3;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

/* CREATE RIDE CSS ----------------------------------------------------------------*/

.form-style-9 {
    max-width: 100%;
    background: #ecebeb;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #000000;
}

.form-style-9 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-style-9 ul li {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.form-style-9 ul li .field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.form-style-9 ul li .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
    width: 49%;
}

.form-style-9 ul li .field-full {
    width: 100%;
}

.form-style-9 ul li input.align-left {
    float: left;
}

.form-style-9 ul li input.align-right {
    float: right;
}

.form-style-9 ul li textarea {
    width: 100%;
    height: 100px;
}


/* FORMULAIRE --------------------- */
.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
    font-family: "Sansita Swashed", cursive;
}

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

.center h1 {
    font-size: 2em;
    border-left: 5px solid orangered;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
}

.center .inputbox {
    position: relative;
    width: 280px;
    height: 15px;
    margin-bottom: 50px;
}

.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

/* formulaire modifride */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


.container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
}

.buttonblue {
    background-color: blue;
}


/* bg header ---------------------------*/
.backgroundheader {
    background-color: rgb(83, 82, 82);
}