.principalePict {
    background: no-repeat center/100% url("../img/pexels-photo-379419.jpeg");
    color: orangered;
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictLegis {
    background: no-repeat center/100% url("../img/legislation.jpeg");
    color: orangered;
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictAdvicemaintenance {
    background: no-repeat center/100% url("../img/conseilsentretient.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictContact {
    background: no-repeat center/100% url("../img/contactus.jpg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictLegalnotice {
    background: no-repeat center/100% url("../img/mentionslegales.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    color: orangered;
}

.principalePictCgu {
    background: no-repeat center/100% url("../img/cgu.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictRide {
    background: no-repeat center/100% url("../img/balades.jpg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
}

.principalePictRegistration {
    background: no-repeat center/100% url("../img/inscription.jpg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;

}

.principalePictModifUser {
    background: no-repeat center/100% url("../img/modifuser.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    color: orangered;
}

.principalePictCreateRide {
    background: no-repeat center/100% url("../img/create_ride.jpeg");
    height: 30rem;
    background-attachment: fixed;
    background-size: cover;
    color: orangered;
}

.logo {
    height: 4rem;
}

.selectColor {
    background-color: black;
    color: orangered;
}

.nav {
    position: absolute;
    top: 500px;

}

.navColor {
    background-color: black;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.shadow {
    box-shadow: 10px 20px 5px;
}

.abutton {
    display: block;
    color: white;
    background-color: orangered;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-right: 1rem;
}

.bbutton {
    display: block;
    color: orangered;
    background-color: white;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-right: 1rem;
}